
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style="color: grey; font: 13px/25.5px var(--sans-serif); text-transform: uppercase;">
        <h1>Age Associated Moduel Network Analysis DEMO</h1>
    </div>
    <body>
        This graph utilizes a subset of the data to illustrate the analysis flow and present the charts.
    </body>
    <div id="d3-visualization">
        <iframe width="100%" height="980" frameborder="0"
        src="https://observablehq.com/embed/39b8fae3bf38b0e8@298?cells=legend%2Cchart%2Cdata"></iframe>
    </div>
</body>
</html>


